@import "../../utils/tools.scss";

.mainContainer {
    &__bannerAbout {
    @include banner(rgba(0, 0, 0, 0.3) url("../../assets/BannerImageAbout.png"));
    }
    &__infoTabsAbout {
        width: 90%;
        margin: auto;
        margin-bottom: 50px;
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        gap: 30px;
        @media (max-width: 600px) {
            width:100%;
            margin-top: 0;
            margin-bottom: 30px;
            gap: 20px;
        }
    }
}



