@import "../../utils/tools.scss";

.mainContainer {
    &__bannerHome {
        @include banner(rgba(0, 0, 0, 0.6) url("../../assets/BannerImage.png"));
        display: flex;
        align-items: center;
        justify-content: center;
        &--slogan {
            color: white;
            font-size: 3em;
            text-shadow: 1px 0 0 black, 1px 1px 0 black, 0 1px 0 black, -1px 1px 0 black, -1px 0 0 black, -1px -1px 0 black, 0 -1px 0 black, 1px -1px 0 black, 0 4px 4px rgba(0, 0, 0, 0.5);
            font-weight: 700;
        }
    }
    @media (max-width: 950px) {
        &__bannerHome {
            justify-content: left;
            &--slogan {
                width: 68%;
                font-size: 24px;
                margin-left: 15px;
                text-shadow: none;
            }
        }
    }
}
