.accomodationContainer {
    background-color: #f6f6f6;
    padding: 60px 40px;
    border-radius: 25px;
    margin-bottom: 50px;
    margin-top: 50px;
    &__list {
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 50px;
        padding-left: 20px;
        @media (max-width: 1422px) {
            justify-content: space-around;
            padding: 0;
        }
        @media (min-width: 1441px) and (max-width: 1873px) {
            justify-content: center;
            padding: 0;
        }
    }
    @media (max-width: 928px) {
        padding: 0;
        background-color: white;
        margin-top: 30px;
        margin-bottom: 30px;
        &__list {
            gap: 20px;
        }
    }
}
