@import "../../utils/tools.scss";

.tagContainer {
    background-color: $main-color;
    color: white;
    height: 13px;
    border-radius: 10px;
    text-align: center;
    width: 137px;
    padding: 6px 10px;
    
    &__tagTitle {
        width: 100%;
        font-size: 14px;
        font-weight: 700;
        line-height: 13px;
        margin: 0;
    }
}