.slider {
    position: relative;
    height: 415px;
    &__button {
        background-color: transparent;
        border: none;
        position: absolute;
        margin-top: auto;
        margin-bottom: auto;
        top: 0;
        bottom: 0;
        &--right {
            right: 0;
            }
        &__image {
            width: 96px;
            height: 119px;
            &--left {
                transform: rotate(-90deg);
            }
            &--right {
                transform: rotate(+90deg);
            }
        }
    }
    &__image {
        height: 100%;
        object-fit: cover;
        width: 100%;
        border-radius: 25px;
    }
    &__imageCounter {
        color: white;
        font-weight: 500;
        font-size: 18px;
        width: 5%;
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0; 
        margin-left: auto;
        margin-right: auto;
    }
}